*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



main,.header-container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}


/* inter */

.nav-link-container a,
.description-para,
.plants-para,
.plant-name,
.plant-price,
.plant-btn,.lists,
.latest-para,
.item1 h5,
.item2 h5,
.footer-first p,
.form input,
.form button,
.footer-links,
.item3 h5{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* noto serif */

.description-head,
.plants-head,
.trusted-description-head,
.latest-head,
.item1 h4,
.item2 h4,
.item3 h4,
.email-heading{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* nav section */
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    }
   
    .nav-link-container{
        display: flex;
        gap: 48px;
    }
    .nav-link-container li{
        list-style: none;
        font-family: sans-serif;
    }
    #cart{
        font-weight: bold;
        color: #09090b;
    }
    .nav-link-container a{
        font-size: 12px;
        text-decoration: none;
        color: #8987A1;
    }
    
    
    /* banner */
    .banner-container{
        height: 462px;
        display: flex;
        align-items: flex-end;
    }
    
    .banner-image{
        background-image: url("assets/hero-flower.png");
        max-width: 570px;
        height: 355px;
    }
    .description-head{
        font-size: 4rem;
        font-weight: bold;
        color: #E95A08;
        margin-bottom: 15px;
    }
    .description-para,.plants-para,.lists,.latest-para{
        font-size: 1.28rem;
        color: rgba(0, 0, 0, 0.5);
    }
    /* plant cards */
    .plants-head{
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: black;
        margin-top: 120px;
        
    }
    .plants-para{
        text-align: center;
        max-width: 888px;
        height: 54px;
        margin: 16px auto;
    }
    .plant-card-container{
        display: grid;
        grid-template-columns: repeat(4,270px);
        column-gap: 20px;
        row-gap: 30px;
    }
    .plant-name{
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        color: #111111;
        margin: 20px 0;
    }
    .plant-price{
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        color: #111111;
        margin-bottom: 30px;
    }
    .plant-btn{
        height: 50px;
        width: 100%;
        background-color: #E95A08;
        color: white;
        font-weight: 600;
        border: none;
    }
    /* trusted part */
    .trusted{
        display: flex;
        margin-top: 210px;
        align-items: center;

    }
    .trusted-image{
        position: relative;
        margin-right: 90px;
    }
    .badge{
        width: 286px;
        height: 286px;
        position: absolute;
        top: -120px;
        right: -120px;
        z-index: 10;
        filter: drop-shadow(0px 0px 30px #363636);
        animation-name: badgespin;
        animation-timing-function: linear;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    @keyframes badgespin {
        0% {
            transform: rotate(0deg);
        }
        
        100%{
            transform: rotate(360deg)
        }
    }
    .trusted-description-head{
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .lists{
        width: 540px;
        margin: 20px 0;
    }
    .lists li{
        height: 120px;
    }
    /* deal section */
    .latest-deal{
        margin-top: 133px;
    }
    .latest-head{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;

    }
    .latest-para{
        max-width: 888px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3,367px);
        grid-template-rows: 201px 197px;
        gap: 18px;

    }

    .item2{
        background-image: url("assets/deal-zabo.png");
        background-repeat: no-repeat;
        grid-column: 2/-1;
        grid-row: 1/-1;
        
    }
    .item3{
        background-image: url("assets/deal-ana.png");
        
    }
        .item1{
        background-image: url("assets/deal-bloom.png");
        
}
.item1,.item2,.item3{
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: #545454;
    background-blend-mode: overlay;

}
.item1 h4,.item3 h4{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 70px;

}
.item1 h5,.item3 h5,.item2 h5{
    border-bottom: solid 2px white;
    display: inline-block;
    margin-top: 15px;
}
.item2 h4{
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 170px;
}
.item2 h5{
    font-size: 2rem;
    font-weight: 600;

}
/* footer */
.email-container{
    background-image: url("assets/news-letter-bg.png");
    height: 533px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    padding: 199px 0;
}
.email-form{
    max-width: 830px;
    height: 141px;
    margin: auto;
}
.email-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 23px;
    color: white;
}
.form{
    width: 830px;
    margin: 0 auto;
}
.form input{
    width: 640px;
    height: 50px;
    padding-left: 10px;
}
.form button{
    height: 50px;
    width: 186px;
    margin-left: -4px;
    background-color: #E95A08;
    color: white;
    border:none;
}
.footer-last-container{
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 248px;
    margin: 50px auto;
}
.footer-first p{
    font-size: 1.27rem;
    font-weight: 400;
    width: 350px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
.footer-links li{
    list-style: none;
    margin-bottom: 32px;
    color:rgba(0, 0, 0, 0.5) ;
    font-size: 14px;
    cursor: pointer;
}
.image-links img{
    margin-right: 24px;
    cursor: pointer;
}
.twitter{
    height: 32px;
}

/* responsive for mobile */

/* nav media */
@media screen and (max-width:576px){
    
    body{
        margin: 0 10px;
    }
    
    .nav-container img{
        width: 63px;
    }
    .banner-container img{
        width: 100%;
    }
    .link{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        
    }
    .description{
        margin-top: 28px;
    }
    .description-head,
    .plants-head,
    .trusted-description-head,
    .latest-head{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .plant-card-container{
        grid-template-columns:repeat(2,1fr);
        gap: 40px 5px;
    }
    .plant-card img{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    
    .plants-head{
        margin-top: 50px;
    }
    
    .plants-para,
    .description-para,
    .latest-para,
    .lists,
    .footer-first p{
        font-size: .8rem;
    }
    .trusted{
        flex-direction: column;
        margin-top: 70px;
        
    }
    .trusted-image{
        margin-right:0px;
    }
    .trusted-img{
        
        width: 100%;
        
    }
    .latest-deal{
        margin-top: 30px;
    }
    .latest-para{
        margin-bottom: 30px;
    }
    .lists{
        width:90%;
        margin: 0 25px;
    }
    .lists li{
        height:80px;
    }
    .badge{
        display: none;
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 184px 184px 184px;
        
    }
    .item1{
        background-repeat:no-repeat;
        background-size: cover;
    }
    .item2{
        grid-column:initial;
        grid-row:initial;
        
    }
    .item3{
        grid-row: 2;
        background-repeat:no-repeat;
        background-size: cover;
        
    }
    .item2 h4{
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 70px;
    }
    .item2 h5{
    font-size: .8rem;
    font-weight: 600;
}
.form{
    width: 100%;
    max-width: 321px;
    margin: 0 auto;
}
.email-heading{
    width: 235px;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 auto 10px;
}
.form input{
    width: 200px;
    
}
.form button{
    width: 100px;
}
.footer-last-container{
    width: 100%;
}
.footer-last-container{
    flex-direction: column;
}
.footer-first p{
    width: 100%;
}
.email-container{
    height: 276px;
    padding-top: 100px;
    margin: -10px;
}
}