*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



main,.header-container{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav section */
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    }
   
    .nav-link-container{
        display: flex;
        gap: 48px;
    }
    .nav-link-container li{
        list-style: none;
        font-family: sans-serif;
    }
    .nav-link-container a{
        text-decoration: none;
        color: #8987A1;
    }
    #home{
        font-weight: bold;
        color: #252432;
    }
    /* banner */
    .banner-container{
        height: 462px;
        display: flex;
        align-items: flex-end;
    }
    
    .banner-image{
        background-image: url("assets/hero-flower.png");
        max-width: 570px;
        height: 355px;
    }
    .description-head{
        font-size: 4rem;
        font-weight: bold;
        color: #E95A08;
        margin-bottom: 15px;
    }
    .description-para,.plants-para,.lists,.latest-para{
        font-size: 1.28rem;
        color: rgba(0, 0, 0, 0.5);
    }
    /* plant cards */
    .plants-head{
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: black;
        margin-top: 120px;
        
    }
    .plants-para{
        text-align: center;
        max-width: 888px;
        height: 54px;
        margin: 16px auto;
    }
    .plant-card-container{
        display: grid;
        grid-template-columns: repeat(4,270px);
        column-gap: 20px;
        row-gap: 30px;
    }
    .plant-name{
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        color: #111111;
        margin: 20px 0;
    }
    .plant-price{
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        color: #111111;
        margin-bottom: 30px;
    }
    .plant-btn{
        height: 50px;
        width: 100%;
        background-color: #E95A08;
        color: white;
        font-weight: 600;
        border: none;
    }
    /* trusted part */
    .trusted{
        display: flex;
        margin-top: 210px;
        align-items: center;

    }
    .trusted-image{
        position: relative;
        margin-right: 90px;
    }
    .badge{
        width: 286px;
        height: 286px;
        position: absolute;
        top: -143px;
        right: -143px;
        z-index: 10;
    }
    .trusted-description-head{
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .lists{
        width: 540px;
        margin: 20px 0;
    }
    .lists li{
        height: 120px;
    }
    /* deal section */
    .latest-deal{
        margin-top: 133px;
    }
    .latest-head{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;

    }
    .latest-para{
        max-width: 888px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3,367px);
        grid-template-rows: 201px 197px;
        gap: 18px;

    }

    .item2{
        background-image: url("assets/deal-zabo.png");
        background-repeat: no-repeat;
        grid-column: 2/-1;
        grid-row: 1/-1;
        
    }
    .item3{
        background-image: url("assets/deal-ana.png");
        
    }
        .item1{
        background-image: url("assets/deal-bloom.png");
        
}
.item1,.item2,.item3{
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: #545454;
    background-blend-mode: overlay;

}
.item1 h4,.item3 h4{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 70px;

}
.item1 h5,.item3 h5,.item2 h5{
    border-bottom: solid 2px white;
    display: inline-block;
    margin-top: 15px;
}
.item2 h4{
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 170px;
}
.item2 h5{
    font-size: 2rem;
    font-weight: 600;

}
/* footer */
.email-container{
    background-image: url("assets/news-letter-bg.png");
    height: 533px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    padding: 199px 0;
}
.email-form{
    max-width: 830px;
    height: 141px;
    margin: auto;
}
.email-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 23px;
    color: white;
}
.form{
    width: 830px;
    margin: 0 auto;
}
.form input{
    width: 640px;
    height: 50px;
    padding-left: 10px;
}
.form button{
    height: 50px;
    width: 186px;
    margin-left: -4px;
    background-color: #E95A08;
    color: white;
    border:none;
}
.footer-last-container{
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 248px;
    margin: 50px auto;
}
.footer-first p{
    font-size: 1.27rem;
    font-weight: 400;
    width: 350px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
.footer-links li{
    list-style: none;
    margin-bottom: 32px;
    color:rgba(0, 0, 0, 0.5) ;
    font-size: 14px;
    cursor: pointer;
}
.image-links img{
    margin-right: 24px;
    cursor: pointer;
}
.twitter{
    height: 32px;
}